.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  /* width: 500px; */

}

.center{
  align-items: center;
  justify-content: center;
  
}


/* .incomeExpense{
  align-items: center;
  justify-content: center;

} */

.incomeExpense{
  display: flex;
}
.income{
  display: inline-flex;
  border: white solid;
  padding: 1%;
}

.expense{
  display:flex;
  border: white solid;
  padding: 1%;

}

.plus{
  /* background-color:  green; */
  /* border: solid; */
  border-right: 5px solid green;
}

.minus{
  border-right: 5px solid red;
}